:root {
  --primary: #1b5fa3;
  --bg: #9fb0c1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #ffffff;
  min-height: 100vh;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(14, 73, 132, 0.8);
  border-bottom: 1px solid #7a97b2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.2);
}

.navbar .navbar-extra a {
  color: #ffffff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

/*Hero Section*/
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5rem;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/*Profil Dinas*/
.profil,
.layanan,
.contact {
  padding: 7.5rem 7% 1.4rem;
}

.profil h2,
.layanan h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.profil h2 span,
.layanan h2 span,
.contact h2 span {
  color: var(--primary);
}

.profil .row {
  display: flex;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.profil .row .profil-img {
  width: 100%;
}

.profil .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.profil .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.profil .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.6;
}

.profil-images img {
  width: 600px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.profil .row .about-img img {
  height: 24rem;
  object-fit: cover;
  object-position: center;
}

.profil .row .content {
  padding: 0;
}

.profil .row .content h3 {
  margin-top: 1rem;
  font-size: 2rem;
}

.profil .row .content p {
  font-size: 1.6rem;
}

/*Layanan Section*/
.layanan h2,
.contact h2 {
  margin-bottom: 1rem;
}

.layanan p,
.contact p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}

.layanan .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.layanan .row .layanan-card {
  text-align: center;
  padding-bottom: 1rem;
}

.layanan .row .layanan-card img {
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.layanan .row .layanan-card img-wrap,
.layanan .row .layanan-card img {
  width: 150px;
  height: 150px;
}

.layanan .row .layanan-card-title {
  margin: 1rem auto 0.5rem;
  text-align: center;
}

.layanan p {
  font-size: 1.2rem;
}

/*Contact Section*/
.contact .row {
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
  background-color: rgb(92, 147, 248);
  flex-wrap: wrap;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  min-height: 280px;
  border: 0;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding-top: 0;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #eee;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #fff;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--primary);
  cursor: pointer;
}
/*Footer*/
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #fff;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

/*Media Queries Laptop*/
@media (max-width: 1366px) {
  html {
    font-size: 75%;
    padding: 0.7rem 1rem;
  }
}

/*Media Queries Tablet*/
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

/*Media Queries Phone*/
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
